.toy-list {
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: rem(50px);
    margin-bottom: 2rem;
    li {
      text-align: center;
    }
  }
}
