* {
  box-sizing: border-box;
  margin: 0;
}

html {
  line-height: lh(26px);
}

body {
  background-color: $clr1;
}

#app {
  min-height: 100vh;
}

img {
  width: 100%;
}

.btn {
  @include btn;

  &-dark {
    @include btn($type: dark);
  }

  &-light {
    @include btn($type: light);
  }
}

// links
a {
  color: $clr2;

  &.active {
    background-color: $clr6;
    color: $clr6;
  }
}

mark {
  color: $clr1;
  background-color: transparent;
}
