/* Container */
.container {
  max-width: 980px;
  padding: 0 1.5rem;
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.toy-filter {
  display: flex;
  justify-content: center;
}

.filter {
  display: flex;
  flex-direction: column;
}

.filter > select {
  overflow: hidden;
  height: 120px;
}

.toy-list > ul {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
